<!DOCTYPE html>
<html>
  <head>
    <title>Deeler: Easy deals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('deeler-favicon.png') %>
  </head>

  <body>
    <% if current_user %>
      <div class="main-body">
        <%= render "shared/logged_in_navbar" %>
        <div class="main-content">
          <%= render "shared/search_form" %>
          <%= render "layouts/alerts" %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
